html {
    background: url('./background.jpg') bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 10px;
}

body,
html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.keys {
    align-items: center;
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 100vh;
}

.key {
    background: rgba(0, 0, 0, 0.8);
    border: .4rem solid black;
    border-radius: .5rem;
    color: white;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem .5rem;
    text-align: center;
    text-shadow: 0 0 .5rem black;
    transition: all 0.07s ease;
    width: 10rem;
}

.playing {
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
    transform: scale(1.1);
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    color: #ffc600;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

footer {
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: #ffffff;
    padding: 20px;
    position: fixed;
    text-align: center;
    width: 100%;
}

footer a {
    color: #D3D3D3;
}

footer a:hover {
    color: #ffffff;
}